<h1>Maker Lab</h1>


<!-- search form -->
<h2>Search</h2>
  <form accept-charset="UTF-8" action="/" id="site_search" method="get">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <input id="search" name="search" placeholder="Search Maker Lab Tools &amp; Inventory" type="text">
    <input type="submit" value="Search">
  </form>


<!-- tools -->
<h2>Tools</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Quantity</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.location %></td>
        <td><%= tool.quantity %></td>
        <td><%= tool.available %></td>
        <td><%= link_to 'Show', tool %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<!-- inventory -->
<h2>Inventory</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.name %></td>
        <td><%= inventory.location %></td>
        <td><%= inventory.stock %></td>
        <td><%= link_to 'Show', inventory %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%=  link_to 'Checkouts', checkouts_path %>