<!-- search form -->
<section id="search-section">
  <%= form_tag searches_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query], placeholder: "tap to search." %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>
  <div>
    <h3>see all inventory</h3>
    <span>&darr;</span>
  </div>
</section>

<!-- tools -->
<section id="tools-inventory">
  <ul>
    <% @tools.each do |tool| %>
      <li>
        <%= image_tag tool.tool_image.url(:thumbnail) %>
        <p><%= tool.name %></p>
        <p><%= tool.location %></p>
        <p><%= tool.quantity %></p>
        <p><%= tool.available %></p>
        <p><%= link_to 'Show', tool %></p>
      </li>  
    <% end %>
  </ul>
  <ul>  
    <% @inventories.each do |inventory| %>
      <li>
        <p><%= inventory.name %></p>
        <p><%= inventory.location %></p>
        <p><%= inventory.stock %></p>
        <p><%= link_to 'Show', inventory %></p>
      </li>
    <% end %>
  </ul>
</section>
