<p id="notice"><%= notice %></p>

<%= image_tag @tool.tool_image.url(:square) %>

<p>
  <%= @tool.name %>
</p>

<p>
  <%= @tool.location %>
</p>

<p>
  <%= @tool.quantity %><strong> available</strong>
</p>

<p>
  <%= @tool.available %><strong> in stock</strong>
</p>

<h2>Check Out</h2>
<%= form_for([@tool, @checkout]) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>
      <ul>
      <% @checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Checkout" %>
  </div>
<% end %>


<%= link_to 'Back', home_path %>
