<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tool.location %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @tool.quantity %>
</p>

<p>
  <strong>Available:</strong>
  <%= @tool.available %>
</p>

<h2>Check Out</h2>
<%= form_for([@tool, @checkout]) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', root_path %>
