<p id="notice"><%= notice %></p>
 
<%= image_tag @inventory.inventory_image.url(:square) %>

<p>
  <strong>Name:</strong>
  <%= @inventory.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @inventory.location %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @inventory.stock %>
</p>

<%= link_to 'Back', home_path %>
