<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @checkout.email %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @checkout.tool_id %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>

