<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
    <title>Maker Lab :: AKQA SF</title>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= render 'flashes' -%>

    <div id="nav">
      <ul>
        <li><%= link_to 'search', home_path %></li>
        <li><%= link_to 'ML', home_path %></li>
        <li><%= link_to 'return', checkouts_path %></li>
      </ul>
    </div>

    <%= yield %>
    <%= render 'javascript' %>
  </body>

</html>
